<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badge</title>
    <script src="https://kit.fontawesome.com/75ef60d1bf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="badge.css">
</head>
<body>
    <nav class="container">
        <div id="logo">Icarus-UI</div>
        <div class="a">
            <a href="#" class="a1">Home</a>
            <a  href="#"  class="a1">Docs</a>
        </div>
    </nav>
    <div class="grid">  
    <aside class="side-bar">
        <div><a href="#">Installation</a></div>
        <div><a href="#">Typography</a></div>
        <h2>Components</h2>
        <div><a href="./alert/alert.html">Alert</a></div>
        <div><a href="./avatar/avatar.html">Avatar</a></div>
        <div><a href="./badge.html">Badge</a></div>
        <div><a href="/btn.html">Button</a></div>
        <div><a href="/card.html">Card</a></div>
        <div><a href="/grid.html">Grid</a></div>
        <div><a href="/image.html">Image</a></div>
        <div><a href="/input.html">Input</a></div>
        <div><a href="/toast.html">Toast</a></div>
    </aside>
    <div class="main">
        <h1>
            Badge
        </h1>
        <p>Badges are small circles, positioned either at top-right or bottom-right of the parent component. Badge can be used to display numbers, online / offline status, depending on where they are used.</p>
        <h3>Status badges on avatar</h3>
        <p>Use status-available, status-away, status-dnd, status-offline with badge-status to circular badge on avatars</p>
        <h3>Avatar with status available badge</h3>
        <div class="img">
        <img class="circle" src="https://miro.medium.com/max/1193/1*NVU5-vgxMwufQAsXfr67-Q@2x.jpeg" alt="Pic">
        <i class="fa-solid fa-circle status-offline"></i>
        </div>
        <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=31px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=13.5px&lh=113%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522img%2522%253E%250A%2520%2520%2520%253Cimg%2520class%253D%2522circle%2522%2520src%253D%2522https%253A%252F%252Fmiro.medium.com%252Fmax%252F1193%252F1*NVU5-vgxMwufQAsXfr67-Q%25402x.jpeg%2522%2520alt%253D%2522Pic%2522%253E%250A%2520%2520%2520%253Ci%2520class%253D%2522fa-solid%2520fa-circle%2520status-available%2522%253E%253C%252Fi%253E%250A%253C%252Fdiv%253E"
            style="width: 875px; height: 118px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>
        <h3>Avatar with status available badge</h3>
        <div class="img">
        <img class="circle" src="https://miro.medium.com/max/1193/1*NVU5-vgxMwufQAsXfr67-Q@2x.jpeg" alt="Pic">
        <i class="fa-solid fa-circle status-available"></i>
        </div>
        <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=31px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=13.5px&lh=113%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522img%2522%253E%250A%2520%2520%2520%2520%253Cimg%2520class%253D%2522circle%2522%2520src%253D%2522https%253A%252F%252Fmiro.medium.com%252Fmax%252F1193%252F1*NVU5-vgxMwufQAsXfr67-Q%25402x.jpeg%2522%2520alt%253D%2522Pic%2522%253E%250A%2520%2520%2520%2520%253Ci%2520class%253D%2522fa-solid%2520fa-circle%2520status-available%2522%253E%253C%252Fi%253E%250A%253C%252Fdiv%253E"
            style="width: 883px; height: 118px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>
    </div>
    </div>
    <footer class="footer">
        <a href="https://github.com/rahul5564/devicarus">GitHub</a>
        <a href="https://www.linkedin.com/feed/">LinkedIn</a>
        <a href="https://twitter.com/Rahul56763234">Twitter</a>
    </footer>
</body>
</html>