<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <link rel="stylesheet" href="text.css">
</head>
<body>
    <nav class="container">
        <div id="logo">Icarus-UI</div>
        <div class="a">
            <a href="#" class="a1">Home</a>
            <a  href="#"  class="a1">Docs</a>
        </div>
    </nav>
    <div class="grid">  
    <aside class="side-bar">
        <div><a href="#">Installation</a></div>
        <div><a href="#">Typography</a></div>
        <h2>Components</h2>
        <div><a href="./components/alert/alert.html">Alert</a></div>
        <div><a href="./components/avatar/avatar.html">Avatar</a></div>
        <div><a href="./components/badge.html">Badge</a></div>
        <div><a href="/btn.html">Button</a></div>
        <div><a href="/card.html">Card</a></div>
        <div><a href="/grid.html">Grid</a></div>
        <div><a href="/image.html">Image</a></div>
        <div><a href="/input.html">Input</a></div>
        <div><a href="/toast.html">Toast</a></div>
    </aside>
    <div class="main">
        <h1>
            Text Utilities
        </h1>
        <p>
            Text utilities are used to make the written language more readable.
        </p>
        <h2>
            Headings
        </h2>
        <p>
        Headings range from H1 to H6.
        </p>
        <div class="heading">
            <h1>Heading 1</h1>
            <h2>Heading 2</h2>
            <h3>Heading 3</h3>
            <h4>Heading 4</h4>
            <h5>Heading 5</h5>
            <h6>Heading 6</h6>
        </div>
        <iframe
            class="iframe"
            src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=31px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=13.5px&lh=119%25&si=false&es=2x&wm=false&code=%2520%253Cdiv%2520class%253D%2522heading%2522%253E%250A%2520%2520%2520%253Ch1%253EHeading%25201%253C%252Fh1%253E%250A%2520%2520%2520%253Ch2%253EHeading%25202%253C%252Fh2%253E%250A%2520%2520%2520%253Ch3%253EHeading%25203%253C%252Fh3%253E%250A%2520%2520%2520%253Ch4%253EHeading%25204%253C%252Fh4%253E%250A%2520%2520%2520%253Ch5%253EHeading%25205%253C%252Fh5%253E%250A%2520%2520%2520%253Ch6%253EHeading%25206%253C%252Fh6%253E%250A%2520%253C%252Fdiv%253E"
            sandbox="allow-scripts allow-same-origin">
        </iframe>
        <h2>
            Small Text
        </h2>
         <h3>
            Small text are usually small from normal text.
         </h3>
         <div class="text">
         <p class="small-text">
            I am a small text
         </p>
         <p class="small-text">
            I am a small text
         </p>
        </div>
        <iframe
            class="iframe"
            src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=31px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=13.5px&lh=119%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522text%2522%253E%250A%2520%2520%2520%253Cp%2520class%253D%2522small-text%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520I%2520am%2520a%2520small%2520text%250A%2520%2520%2520%253C%252Fp%253E%250A%2520%2520%2520%253Cp%2520class%253D%2522small-text%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520I%2520am%2520a%2520small%2520text%250A%2520%2520%2520%253C%252Fp%253E%250A%253C%252Fdiv%253E"
            sandbox="allow-scripts allow-same-origin">
        </iframe>
        <h2>
            Grey Text
        </h2>
         <h3>
            Grey text are grey in color.
         </h3>
         <div class="text gery-text">
         <p class="gery-text">
            I am a grey text
         </p>
         <p class="gery-text">
            I am a grey text
         </p>
        </div>
        <iframe
             class="iframe"
            src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=31px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=13.5px&lh=119%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522text%2520gery-text%2522%253E%250A%2520%2520%2520%253Cp%2520class%253D%2522gery-text%2522%253E%250A%2520%2520%2520%2520%2520I%2520am%2520a%2520grey%2520text%250A%2520%2520%2520%253C%252Fp%253E%250A%2520%2520%2520%253Cp%2520class%253D%2522gery-text%2522%253E%250A%2520%2520%2520%2520%2520I%2520am%2520a%2520grey%2520text%250A%2520%2520%2520%2520%253C%252Fp%253E%250A%253C%252Fdiv%253E"
            sandbox="allow-scripts allow-same-origin">
        </iframe>
        <h2>
            Centered Text
        </h2>
         <h3>
            Centered text are aligned at the center.
         </h3>
         <div class="heading">
         <p>
            I am a centered text
         </p>
         <p>
            I am a centered text
         </p>
        </div>
        <iframe
            class="iframe"
            src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=31px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=13.5px&lh=119%25&si=false&es=2x&wm=false&code=%2520%253Cdiv%2520class%253D%2522heading%2522%253E%250A%2520%2520%2520%2520%2520%253Cp%253E%250A%2520%2520%2520%2520%2520I%2520am%2520a%2520centered%2520text%250A%2520%2520%2520%2520%2520%253C%252Fp%253E%250A%2520%2520%2520%2520%2520%253Cp%253E%250A%2520%2520%2520%2520%2520I%2520am%2520a%2520centered%2520text%250A%2520%2520%2520%2520%2520%253C%252Fp%253E%250A%2520%253C%252Fdiv%253E"
            sandbox="allow-scripts allow-same-origin">
        </iframe>
    </div>
</div>
</div>
<footer class="footer">
    <a href="https://github.com/rahul5564/devicarus">GitHub</a>
    <a href="https://www.linkedin.com/feed/">LinkedIn</a>
    <a href="https://twitter.com/Rahul56763234">Twitter</a>
</footer>
</body>
</html>