<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert</title>
    <script src="https://kit.fontawesome.com/75ef60d1bf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="alert.css">
</head>
<body>
    <nav class="container">
        <div id="logo">Icarus-UI</div>
        <div class="a">
            <a href="/index.html" class="a1">Home</a>
            <a  href="/installation.html"  class="a1">Docs</a>
        </div>
    </nav>
<div class="grid">  
    <aside class="side-bar">
        <div><a href="#">Installation</a></div>
        <div><a href="/components/text.html">Typography</a></div>
        <h2>Components</h2>
        <div><a href="./alert/alert.html">Alert</a></div>
        <div><a href="/components/avatar/avatar.html">Avatar</a></div>
        <div><a href="/components/badge.html">Badge</a></div>
        <div><a href="/btn.html">Button</a></div>
        <div><a href="/card.html">Card</a></div>
        <div><a href="/grid.html">Grid</a></div>
        <div><a href="/image.html">Image</a></div>
        <div><a href="/input.html">Input</a></div>
        <div><a href="/toast.html">Toast</a></div>
        <div><a href="/nav.html">Navigation</a></div>
    </aside>
<div class="main">
       <h1>Alert</h1> 
       <p>
      An alert displays a short, important message in a way that attracts the user's attention without interrupting the user's task.
       </p>
       <h3>Usage</h3>
       <p>
      Different alerts are available.Error,Warning,Info,Success.
       </p>
       <div class="alert error">
           Error.Try again!
        </div>
       <div class="alert warn">
           Error Warning.Try now!
        </div>
       <div class="alert info">
           Error Info.Try now!
        </div>
       <div class="alert success">
           Error Success.Try now!
        </div>
       <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=31px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=118%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522alert%2520error%2522%253EError.Try%2520again%21%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522alert%2520warn%2522%253EError%2520Warning.Try%2520now%21%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522alert%2520info%2522%253EError%2520Info.Try%2520now%21%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522alert%2520success%2522%253EError%2520Success.Try%2520now%21%253C%252Fdiv%253E"
            style="width: 485px; height: 123px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
      </iframe>
 </div>
</div>
<footer class="footer">
    <a href="https://github.com/rahul5564/devicarus">GitHub</a>
    <a href="https://www.linkedin.com/feed/">LinkedIn</a>
    <a href="https://twitter.com/Rahul56763234">Twitter</a>
</footer>
</body>
</html>